/*  your css code here. If applicable */
#dv1{
	height:200px;
	width:200px;
	background-color:lightblue;
	border:2px solid black;
	color:purple;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	
}
#dv1 h3{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
	
}